.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*

# Don't ignore these folders in the dist directory
!dist/snippets/**
!dist/schemas/**
!dist/prompts/**
!dist/CHANGELOG.md
!dist/README.md
